<div class="teaching_experience">
    <h4><strong>Teaching Experience</strong></h2>
    {% if site.teaching_experience  %}
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
        {% assign teaching_experience = site.teaching_experience %}
        {% for item in teaching_experience  %}
          <tr>
            <th scope="row">
              {{ item.semester}}
              {{ item.year}}
            </th>
            <td>
              {% if item.inline %}
                {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
              {% else %}
                <a class="work-title" href="{{ item.url | relative_url }}">{{ item.title }}</a>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      </div>
    {% else %} 
       <p>No news so far...</p>
    {% endif %}
    
  </div>
  